<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Venue #<%= @venue.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/venues" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @venue.name %>
      </dd>

      <dt>
        Size
      </dt>
      <dd>
        <%= @venue.size %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @venue.description %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <% city = City.where({ :id => @venue.city_id }).at(0) %>
        <a href="/cities/<%= city.id %>"><%= city.name %></a>
      </dd>

      <dt>
        Number of performances
      </dt>
      <dd>
        <%= Performance.where({ :venue_id => @venue.id }).count %>
      </dd>
    </dl>
  </div>
</div>

<hr>



<h2>Artists who've performed:</h2>
<ul>
  <% Performance.where({ :venue_id => @venue.id }).each do |performance| %>
    <% artist = Artist.where({ :id => performance.artist_id }).at(0) %>
    <li>
      <a href="/artists/<%= artist.id %>">
        <%= artist.name %>
      </a>
    </li>
  <% end %>
</ul>

